<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>DoorBot - Online service provider</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <!--bootstrap css-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!--animate css-->
      <link rel="stylesheet" href="css/animate-wow.css">
      <!--main css-->
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/bootstrap-select.min.css">
      <link rel="stylesheet" href="css/slick.min.css">
      <!--responsive css-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> -->
      <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

   </head>
   <body>
<header id="header" class="top-head">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
       <div class="container-fluid">
          <div class="row">
             <div class="col-md-4 col-sm-12 left-rs">
                <div class="navbar-header">
                   <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> 
                   <span class="sr-only">Toggle navigation</span> 
                   <span class="icon-bar"></span> 
                   <span class="icon-bar"></span> 
                   <span class="icon-bar"></span> 
                   </button>
                   <a href="/" class="navbar-brand"><img src="images/logo3.png" alt="" /></a>
                </div>
                <form class="navbar-form navbar-left web-sh">
                   <div class="form">
                      <input type="text" class="form-control" placeholder="Search">
                   </div>
                   
                </form>
               
             </div>
             <div class="col-md-8 col-sm-12">
                <div class="right-nav">
                   <div class="login-sr">
                      <div class="login-signup">
                         <ul>
                            <%if(!currentUser){%>
                                <li><a href="/login">Login</a></li>
                                <li><a class="custom-b" href="/userreg">Sign up</a></li>
                                <%}
                                  else{%>
                                <li><a href="#">Signed in as <%=currentUser.name%></a></li>
                                <li><a class="custom-b" href="/logout">Logout</a></li>
                                <%}%>

                         </ul>
                      </div>
                   </div>
                   <div class="help-r hidden-xs">
                      <div class="help-box">
                         <ul>
                            <li> <a data-toggle="modal" data-target="#myModal" href="#"> <img src="images/flag.jpg" alt="" /> </a> </li>
                            <li> <a href="#"><img class="h-i" src="images/help-icon.png" alt="" /> Help </a> </li>
                         </ul>
                      </div>
                   </div>
                   <div class="nav-b hidden-xs">
                      <div class="nav-box">
                         <a class="btn btn-primary" href="/new" role="button">Create Your shop</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!--/.container-fluid --> 
    </nav>
 </header>
 <!-- Modal -->
 <div class="modal fade lug" id="myModal" role="dialog">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">Change</h4>
          </div>
          <div class="modal-body">
             <ul>
                <li><a href="#"><img src="images/flag-up-1.png" alt="" /> United States</a></li>
                <li><a href="#"><img src="images/flag-up-2.png" alt="" /> France </a></li>
             </ul>
          </div>
       </div>
    </div>

 </div>
 <div class="container">
    <%if(error && error.length>0){%>
        <div class="alert alert-danger" role="alert">

               <%=error%>

       </div>
    <%}%>
        <%if(success && success.length>0){%>
        <div class="alert alert-success" role="alert">

               <%=success%>

        </div>
    <%}%>
 
</div>