<%- include("./partials/header") %>
      <div class="terms-conditions product-page">
         <div class="terms-title">
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">
                     <li><a href="#">Frontpage </a></li>
                     <li class="active">grocery</li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="prod-page-title">
                     <h1>Online grocery</h1>
                     <p><span>Results</span></p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-2 col-sm-4">
               </div>
               
               <div class="col-md-7 col-sm-8">
                  <div class="md-prod-page">
                  <div class="similar-box">
                     <h2>Online grocery results</h2>
                    
                     <div class="row cat-pd">
                        
                        <div class="col-md-12">
                            <% Owner.forEach(function(Owner){%>
                           <div class="small-box-c">
                              <div class="small-img-b">
                                 <img class="img-responsive" src="<%= Owner.imagePath %>" alt="#" />
                              </div>
                              <div class="dit-t clearfix">
                                 <div class="left-ti">
                                    <a href="/grocery/<%= Owner._id%>"><h4> <%= Owner.Shopname%></h4></a>
                                   
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                 </div>
                              
                              </div>
                              <div class="prod-btn">
                                 
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                           <%}); %>
                        </div>
                        <br>
                        <br>
                       
                     
                     </div>
                        <!-- <div class="col-md-6">
                           <div class="small-box-c">
                              <div class="small-img-b">
                                 <img class="img-responsive" src="images/tr2.png" alt="#" />
                              </div>
                              <div class="dit-t clearfix">
                                 <div class="left-ti">
                                    <h4>Product</h4>
                                    <p>By <span>Beko</span> under <span>Chairs</span></p>
                                 </div>
                                 <a href="#" tabindex="0">$1220</a>
                              </div>
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                    
                     <div class="row cat-pd">
                        <div class="col-md-6">
                           <div class="small-box-c">
                              <div class="small-img-b">
                                 <img class="img-responsive" src="images/tr3.png" alt="#" />
                              </div>
                              <div class="dit-t clearfix">
                                 <div class="left-ti">
                                    <h4>Product</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                 </div>
                                 <a href="#" tabindex="0">$1220</a>
                              </div>
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="small-box-c">
                              <div class="small-img-b">
                                 <img class="img-responsive" src="images/tr4.png" alt="#" />
                              </div>
                              <div class="dit-t clearfix">
                                 <div class="left-ti">
                                    <h4>Product</h4>
                                    <p>By <span>Beko</span> under <span>Chairs</span></p>
                                 </div>
                                 <a href="#" tabindex="0">$1220</a>
                              </div>
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <div class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="footer-top clearfix">
                     <div class="col-md-2 col-sm-6">
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="form-box">
                          
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
         
      <!--main js--> 
      <script src="js/jquery-1.12.4.min.js"></script> 
      <!--bootstrap js--> 
      <script src="js/bootstrap.min.js"></script> 
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/slick.min.js"></script> 
      <script src="js/select2.full.min.js"></script> 
      <script src="js/wow.min.js"></script> 
      <!--custom js--> 
      <script src="js/custom.js"></script>
   </body>
</html>