<%- include("./partials/header") %>
      <div class="page-content-product">
         <div class="main-product">
            <div class="container">
               <div class="row clearfix">
                  <div class="find-box">
                     <h1>All service for you at one place.</h1>
                     <h4>It has never been easier.</h4>
                    
                  </div>
               </div>
               <div class="row clearfix">
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="/laptop">
                        <div class="box-img">
                           <h4>Laptop Servicing</h4>
                           <img src="images/laptop-removebg.png" alt="" />
                        </div>
                     </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="/grocery">
                        <div class="box-img">
                           <h4>Online Grocery</h4>
                           <img src="images/grocery1.png" alt="" />
                        </div>
                     </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="/car">
                        <div class="box-img">
                           <h4>Car servicing</h4>
                           <img src="images/car.png" alt="" />
                        </div>
                     </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="/electronics">
                        <div class="box-img">
                           <h4>Repairing</h4>
                           <img src="images/Electrical-removebg-preview.png" alt="" />
                        </div>
                     </a>
                  </div>
                 
               </div>
            </div>
         </div>
      </div>
      
      <!--main js--> 
      <script src="js/jquery-1.12.4.min.js"></script> 
      <!--bootstrap js--> 
      <script src="js/bootstrap.min.js"></script> 
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/slick.min.js"></script> 
      <script src="js/wow.min.js"></script>
      <!--custom js--> 
      <script src="js/custom.js"></script>
     
   </body>
   <%- include("./partials/footer") %>
</html>
